$yellow: #ffd600;
$gray: #b6b6b6;
$dark-gray: #898989;
$border-gray: #e0e0e0;
$light-gray: #ebebeb;
$lighter-gray: #f5f5f5;
$light-cyan: #f4f8f9;
$white: #fff;
$cyan: #2196f3;
$red: #ff0000;
$green: green;
$turquoise: #43aca1;
