doctype html
html(lang='es')
	include pug/base/head.pug
	body
		.wrapper#wrapper
			include pug/layout/nav.pug
			include pug/layout/main.pug
		include pug/components/dialog.pug
	include pug/layout/footer.pug
