.card {
  background: $white;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: calc(100% - 380px);
  display: inline-block;
  margin-top: -38px;
}
