.dialog {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  color: $dark-gray;
  position: fixed;
  &--active {
    display: initial;
  }
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  &__content {
    background: $white;
    z-index: 1;
    position: relative;
    width: 700px;
    left: 50%;
    top: 50px;
    transform: translateX(-50%);
    border-radius: 20px;
  }
  &__title {
    padding: 20px;
  }
}
