.icn,
.mdi {
  color: $dark-gray;
  font-size: 1rem;
  vertical-align: text-top;
}
.icn {
  display: inline-block;
  vertical-align: middle;
  &--menu {
    vertical-align: middle;
    i {
      width: 15px;
      height: 1px;
      background-color: $dark-gray;
      display: block;
      margin: 5px 0;
      &:first-child,
      &:last-child {
        width: 20px;
      }
    }
  }
  &--menu-line {
    vertical-align: middle;
    i {
      width: 5px;
      height: 5px;
      background-color: transparent;
      border: 1px solid $dark-gray;
      border-radius: 50%;
      display: block;
      margin: 2px 0;
    }
  }
  &--smiledu {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/img-logo-min.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--box {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-box.png");
    background-size: contain;
  }
  &--bell {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-bell.png");
    background-size: contain;
  }
  &--config {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-config.png");
    background-size: contain;
  }
  &--dashboard {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-dashboard.png");
    background-size: contain;
  }
  &--door {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-door.png");
    background-size: contain;
  }
  &--list {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-list.png");
    background-size: contain;
  }
  &--news {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-news.png");
    background-size: contain;
  }
  &--payment {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-payment.png");
    background-size: contain;
  }
  &--plan {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-plan.png");
    background-size: contain;
  }
  &--schedule {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-schedule.png");
    background-size: contain;
  }
  &--program {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-program.png");
    background-size: contain;
  }
  &--talent {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-talent.png");
    background-size: contain;
  }
  &--king {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-king.png");
    background-size: contain;
  }
  &--semiking {
    width: 22px;
    height: 22px;
    background-image: url("../assets/images/icn-semiking.png");
    background-size: contain;
  }
  &--dot {
    border-radius: 50%;
  }
}
