.status {
  &--uptodate {
    background: $turquoise;
  }
  &--debt {
    background: $red;
  }
  &--info-incomplete {
    background: $dark-gray;
  }
  &--info-complete {
    background: $cyan;
  }
  &--world {
    background: $gray;
  }
}
