.college
  .college__filter
    .college__search
      .input.college__search-input
        i.input__icon.mdi.mdi-magnify
        input.input__el(type="text", name="", placeholder="Buscar estudiante")
      .college__search-opts 
        button.button 
          i.mdi.mdi-text
        button.button 
          i.mdi.mdi-chevron-up
    .college__search-text
      span Filtro: 
      | PREMIUM COLLEGE - SURCO
    .college__search-placeholder 
      | Busca a tus estudiantes
  .college__years
    .college__years-list
      .select.college__select
        .select__title
          span.select__active Año lectivo 2020
          i.mdi.mdi-chevron-up
        ul.select__list 
          li.select__el Año lectivo 2019
          li.select__el Año lectivo 2020
          li.select__el Año lectivo 2021
          li.select__el Año lectivo 2020
          li.select__el Año lectivo 2021
          li.select__el Año lectivo 2021
          li.select__el Año lectivo 2021
      .college__filter-opts 
        button.button
          i.mdi.mdi-pen
        button.button
          i.mdi.mdi-text
    .college__degree
      ul.college__degree-list 
        li.college__degree-el
          a.college__degree-title(href="") 
            span 3añ. Inicial
            i.mdi.mdi-chevron-up
        li.college__degree-el
          a.college__degree-title(href="") 
            span 4añ. Inicial
            i.mdi.mdi-chevron-up
        li.college__degree-el
          a.college__degree-title(href="") 
            span 5añ. Inicial
            i.mdi.mdi-chevron-up
        li.college__degree-el.college__degree-el--active
          a.college__degree-title(href="") 
            span 1° Primaria
            i.mdi.mdi-chevron-up
          ul.college__degree-ellist
            li.college__degree-section 
              span.college__degree-section-title LOS LEÑADORES 
              a.college__degree-section-count(href="") 6/20
            li.college__degree-section 
              span.college__degree-section-title LOS LEÑADORES 
              a.college__degree-section-count(href="") 9/20
        li.college__degree-el
          a.college__degree-title(href="") 
            span 2° Primaria
            i.mdi.mdi-chevron-up
        li.college__degree-el
          a.college__degree-title(href="") 
            span 3° Primaria
            i.mdi.mdi-chevron-up
        li.college__degree-el
          a.college__degree-title(href="") 
            span 4° Primaria
            i.mdi.mdi-chevron-up
