.fab 
  button.fab__btn.fab__more +
  ul.fab__list
    li 
      button.fab__btn.fab__opts
        i.mdi.mdi-pencil-plus-outline
    li 
      button.fab__btn.fab__opts
        i.mdi.mdi-swap-vertical
    li 
      button.fab__btn.fab__opts
        i.mdi.mdi-arrow-left
    li 
      button.fab__btn.fab__opts
        i.mdi.mdi-arrow-up
    li 
      button.fab__btn.fab__opts
        i.mdi.mdi-arrow-down