.legend 
  .legend__title Leyenda: 
  ul.legend__list 
    li.legend__el 
      i.icn.icn--dot.status--uptodate
      | Al día
    li.legend__el 
      i.icn.icn--dot.status--debt 
      | Con deuda
    li.legend__el 
      i.icn.icn--dot.status--info-incomplete 
      | Datos incompletos
    li.legend__el 
      i.icn.icn--dot.status--info-complete
      | Datos completos
    li.legend__el 
      i.icn.icn--dot.status--world
      | Extranjero